version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    open-pull-requests-limit: 5
    labels:
      - 'dependencies'
    commit-message:
      prefix: 'chore(deps)'
    groups:
      production-dependencies:
        dependency-type: 'production'
        patterns:
          - '*'
        exclude-patterns:
          - '@types/*'
          - 'eslint*'
          - 'prettier'
          - 'vitest'
          - 'husky'
          - 'lint-staged'
      dev-dependencies:
        dependency-type: 'development'
        patterns:
          - '*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    labels:
      - 'dependencies'
      - 'github-actions'
    commit-message:
      prefix: 'ci(deps)'
